<!DOCTYPE html>
<html>

<head>
    {%include "layout/meta.html"%} {%include "layout/script.html"%}

    <link href="/static/vendor/datatables/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/js/dataTables.semanticui.min.js"></script>
</head>

<body>
    {%include 'layout/header.html'%} {%include 'layout/sidebar.html'%}
    <div class="ui main-app">
        {%include 'layout/page_header.html'%}
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segment">
                    <div class="ui container">

                        {%if pasien %}
                        <form class="ui form" name="edit_pasien" method="POST" action="{{url_for('edit_pasien', id=pasien.id)}}">
                            <input type="hidden" name="nokk">
                            <div class="field">
                                <div class="two fields">
                                    <div class="field disabled">
                                        <label>Nomor Pasien</label>
                                        <input type="text" disabled name="no_pasien" value="{{pasien.no_pasien}}" placeholder="NIK Pasien">
                                    </div>
                                    <div class="field">
                                        <label>Nama</label>
                                        <input type="text" name="nama" value="{{pasien.nama}}" placeholder="Nama Pasien">
                                    </div>
                                    <div class="field disabled">
                                        <label>NIK Anda</label>
                                        <input type="text" disabled name="nik" value="{{pasien.nik}}" placeholder="NIK Pasien">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label>Jenis Kelamin</label>
                                        <select class="ui fluid dropdown" name="gender" value="{{pasien.jk}}">
                                            <option value="">Jenis Kelamin</option>
                                            <option value="Laki-Laki" {%if pasien.jk=="Laki-Laki" %} selected="selected" {%endif%}>Laki-Laki</option>
                                            <option value="Perempuan" {%if pasien.jk=="Perempuan" %} selected="selected" {%endif%}>Perempuan</option>
                                        </select>
                                    </div>
                                    <div class="eight wide field">
                                        <label>Gol. Darah</label>
                                        <select class="ui fluid dropdown" name="goldar" value="{{pasien.goldar.value}}">
                                            <option value="">Golonga Darah</option>
                                            <option value="A" {%if pasien.goldar.value=='A' %} selected="selected" {%endif%}>A</option>
                                            <option value="B" {%if pasien.goldar.value=='B' %} selected="selected" {%endif%}>B</option>
                                            <option value="O" {%if pasien.goldar.value=='O' %} selected="selected" {%endif%}>O</option>
                                            <option value="AB" {%if pasien.goldar.value=='AB' %} selected="selected" {%endif%}>AB</option>
                                            <option value="-" {%if pasien.goldar.value=='-' %} selected="selected" {%endif%}>-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="fields">
                                    <div class="eight wide field">
                                        <label>Usia</label>
                                        <input type="number" name="usia" placeholder="Usia Pasien" value="{{pasien.usia}}">
                                    </div>
                                    <div class="eight wide field">
                                        <label>No Telp.</label>
                                        <input type="text" name="no_telp" placeholder="No Telp/Hp" value="{{pasien.no_telp}}">
                                    </div>
                                </div>
                            </div>
                            <button class="ui teal button icon" type="submit">
                                <i class="save icon"></i> Simpan</button>
                            <a class="ui negative button icon" href="{{url_for('all_pasien')}}">
                                <i class="remove icon"></i> Batal</a>
                        </form>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                    <h5 class="ui header">
                        <i class="list icon"></i>
                        <div class="content">
                            Data Keluarga
                            <div class="sub header">Klik 2x untuk pilih keluarga.</div>
                        </div>
                    </h5>
                    <div class="ui divider"></div>
                    <table class="ui unstackable table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Kepala Keluarga</th>
                                <th>No KK</th>
                                <th>Alamat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for k in keluarga%}
                            <tr class="table-data {%if k.id == pasien.keluarga.id%} active{%endif%}" data-nokk="{{k.no_kk}}">
                                <td>{{loop.index}}</td>
                                <td>{{k.kepala_keluarga}}</td>
                                <td>{{k.no_kk}}</td>
                                <td>{{k.alamat}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <script>
        $('.ui.table').dataTable();
        $('tr.table-data').on('dblclick', function (e) {
            e.preventDefault();
            $('tr.table-data').each((index, el) => {
                $(el).removeClass('active');
            })
            $(this).addClass('active');
            $('form[name="edit_pasien"]').find('input[name="nokk"]').val($(this).data('nokk'));
        });
    </script>
    {%include 'layout/toastr.html'%}
</body>

</html>