<div class="eight wide column">
    <div class="ui segment">
        <form class="ui form">
            <h3 class="ui header">
                <div class="content">
                    Pasien Lama
                    <div class="sub header">Form Dibawah ini adalah form untuk pasien lama</div>
                </div>
            </h3>
            <div class="ui divider"></div>
            <div class="field">
                <label>Masukkan No Pasien>Click Cek Pasien</label>
                <div class="ui right labeled left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="no_pasien" required placeholder="No Pasien">
                    <button class="ui tag label" type="submit">
                        Cek Pasien
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
