<!DOCTYPE html>
<html>

<head>
    {%include "layout/meta.html"%} {%include "layout/script.html"%}
    <link href="/static/vendor/datatables/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/js/dataTables.semanticui.min.js"></script>
    <script src="/static/vendor/price_formatter/jquery.priceformat.min.js"></script>
</head>

<body>
    {%include 'layout/header.html'%} {%include 'layout/sidebar.html'%}
    <div class="ui main-app">
        {%include 'layout/page_header.html'%}
        <div class="ui card fluid">
            <div class="content">
                <div class="description">
                    <table class="ui unstackable table">
                        <thead>
                            <tr>
                                <th>No. </th>
                                <th>Tanggal Masuk</th>
                                <th>Tanggal Keluar</th>
                                <th>Diagnosa</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for rj in rawat_inap%}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{rj.tanggal_masuk.strftime('%d-%B-%Y')}}</td>
                                <td>{{rj.tanggal_keluar.strftime('%d-%B-%Y')}}</td>
                                <td>{{rj.diagnosa}}</td>
                                <td>{{rj.status}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.ui.table').dataTable();
        $('.price').priceFormat({
            prefix: 'Rp. ',
            thousandsSeparator: '.',
            clearSuffix: true,
        });
    </script>
</body>

</html>
